* {
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 123, 0);
}

a {
    background-color: #834bc2;
    color: white;
    padding: 5px;
}

header {
    background: #613a8d;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    padding: 20px;
}

section {
    max-width: 50%;
    margin: 0 auto;
}


#welcome {
    text-align: center;
}

h1 {
    font-size: 35px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

button {
    color: white;
    background-color: #41275e;
}

#start {
    background-color: purple;
    color: white;
    padding: 15px 15px;
    border: 0;
    border-radius: 10px;
}

#start:hover {
    background-color: white;
    color: purple;
    transition-duration: 0.5s;
}

#quizSection button {
    display: block;
    background-color: purple;
    color: white;
    margin: 5px 0;
    padding: 15px 15px;
    width: 15em;
    border: 0;
    border-radius: 5px;
}


.hide {
    display: none;
}
  
.invisible {
    visibility: hidden;
}