html {
    background-color: rgb(255, 123, 0);
}

a {
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    padding: 3px;
}

.welcome {
    text-align: center;
}

h1 {
    font-size: 35px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

#start {
    background-color: purple;
    color: white;
    padding: 15px 15px;
    border: 0;
    border-radius: 10px;
}

#start:hover {
    background-color: white;
    color: purple;
    transition-duration: 0.5s;
}

button {
    display: inline-flex;
    flex-direction: column;
    background-color: purple;
    color: white;
    padding: 15px 15px;
    border: 0;
    border-radius: 10px;
}
