* {
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 123, 0);
}

main {
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 5pt;
    text-align: center;
}

#back {
    background-color: purple;
    color: white;
    padding: 15px 15px;
    border: 0;
    border-radius: 10px;
}

#clear {
    background-color: purple;
    color: white;
    padding: 15px 15px;
    border: 0;
    border-radius: 10px;
}
